<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/index">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
	<section layout:fragment="content">
		<div style="min-height:1200px; text-align:center; background-color:#333; color:#eee">
			<br />
			<br />
			<br />
			<br />
			<br />
			안녕..<br />
			일본..춥네요...<br />
			<br />
			발시려...<br />
			근데 오늘 일 많이했는데....<br />
			개발 쉴까 하다가...<br />
			안하면 찝찝할 것 같아서..<br />
			개발중...<br />
			ㅎㅎ...빠가사리..<br />
			운동을 안해서 찝찝해야하는게 보통 아닌가 <br />
			아..자궁 뿌개고싶다..<br />
			<br />
			<br />
			<br />
		</div>
	</section>
<script src="./plugins/jquery-3.1.1.js" th:src="@{/plugins/jquery-3.1.1.min.js}"></script>
<script src="./plugins/semantic-ui/semantic.js" th:src="@{/plugins/semantic-ui/semantic.min.js}"></script>
</body>
</html>