<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/index">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
	<section layout:fragment="content">
		<div class="mainContent">
			<div id="newForm" class="mainStuff">
				<div class="title"><h2>새로운 폼</h2></div>
				<div>
					<ul class="ui stackable five column grid">
						<li class="column">이거</li>
						<li class="column">웨이레</li>
						<li class="column">18</li>
						<li class="column">이엠비엥</li>
						<li class="column">ㅏㅓㅗㄹ만ㅇㄹ</li>
					</ul>
				</div>
			</div>
			<div id="popularForm" class="mainStuff">
				<div class="title"><h2>이것은 테스트다 새끼야</h2></div>
				<div>
					<ul class="ui stackable five column grid">
						<li class="column">ㄻㄴㅇㄻㄴㅇㄹ</li>
						<li class="column">ㄻㄴㅇㄻㄴㅇㄹ</li>
						<li class="column">ㄻㄴㅇㄻㄴㅇㄹ</li>
						<li class="column">ㄻㄴㅇㄻㄴㅇㄹ</li>
						<li class="column">ㅁㅇㄴㄻㅇㄴㄹ</li>
					</ul>
				</div>
			</div>
			<div id="whatIsFormaker" class="mainStuff">
				<div class="title"><h2>포메이커란?</h2></div>
				<ul class="ui stackable five column grid">
					<li class="column">1</li>
					<li class="column">2</li>
					<li class="column">3</li>
					<li class="column">4</li>
					<li class="column">5</li>
				</ul>
			</div>
		</div>
	</section>
<script src="./plugins/jquery-3.1.1.js" th:src="@{/plugins/jquery-3.1.1.min.js}"></script>
<script src="./plugins/semantic-ui/semantic.js" th:src="@{/plugins/semantic-ui/semantic.min.js}"></script>
</body>
</html>