<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
	<section layout:fragment="content">
		<div style="min-height:1200px; text-align:center;">
			ㅇㅅㅇ)
		</div>
	</section>
<script src="./plugins/jquery-3.1.1.js" th:src="@{/plugins/jquery-3.1.1.min.js}"></script>
<script src="./plugins/semantic-ui/semantic.js" th:src="@{/plugins/semantic-ui/semantic.min.js}"></script>
</body>
</html>